node_modules
.DS_Store
*.log
site
coverage
jsconfig.json
.vscode/
.idea/
website/build
.idea/
package-lock.json
build

demo/node_modules
demo/.DS_Store
demo/*.log
demo/site
demo/coverage
demo/jsconfig.json
demo/.vscode/
demo/.idea/
demo/website/build
demo/.idea/
demo/package-lock.json
demo/build
